@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #1d1d1d;
}

.navOn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 20;
}

.navOff {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.removeIcon {
  z-index: 1;
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 1.4em;
}

.showNav {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
}

.navBarMobile {
  display: none;
}

.openIcon {
  z-index: 22;
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 1.4em;
}

.navBar {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.backIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 1.4em;
}

.square {
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #292929;
  padding: 48px;
  font-size: 1.5em;
  transition: 0.4s ease-in-out;
}

.square:hover {
  background-color: #3a3a3a;
}

.Two {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.Three {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.Four {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.Five {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.navBarMobile {
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  background-color: #292929;
  padding-top: 12px;
  padding-bottom: 13px;
}

.navBarMobile a {
  text-decoration: none;
}

.navBarMobile .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.navBarMobile .group .navIcon {
  font-size: 1.2em;
  margin-bottom: 0;
}

.navBarMobile .group p {
  font-size: 1em;
  margin-top: -2px;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70%;
  color: white;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader h2 {
  font-size: 2.5em;
  margin-top: 0;
}

.loader .lds-dual-ring {
  display: inline-block;
}

.loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 3s linear infinite;
          animation: lds-dual-ring 3s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  .openIcon {
    display: none;
  }
  .navBar {
    display: none;
  }
  .navBarMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=Base.css.map */