
body {
  height: 980px;
}
.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

.rankPriceGreen {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #20ad27;
  padding: 7px 15px;
  border-radius: 4px;
}
.rankPriceRed {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #ce2626;
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
}
.topPriceGreen {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #20ad27;
  padding: 7px 15px;
  border-radius: 4px;
}
.downPriceRed {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #ce2626;
  padding: 7px 25px 7px 10px;
  border-radius: 4px;
}

.linkMarket {
  text-decoration: none;
}


.rankingCard {
  margin: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  .rankIcon {
    width: 25px;
    margin-right: 10px;
  }
  .rankNumber {
    font-size: 0.8em;
    text-align: start;
    margin-right: 10px;
    color: white;
  }
  .rankName {
    color: white;
    width: 115px;
    font-size: 1.1em;
  }
  .rankPrice {
    text-align: start;
    width: 130px;
    color: white;
  }
}



.topCard {
  margin: 20px;
  display: flex;
  align-items: center;
  .topIcon {
    width: 25px;
    margin-right: 10px;
  }
  .topName {
    color: white;
    width: 165px;
    .nameTopSpan {
      margin-left: 5px;
      color: #5c5c5c;
      font-size: 0.6em;
    }
  }
  .topPrice {
    color: white;
    width: 100px;
    font-size: 0.9em;
  }
}


.downCard {
  margin: 20px;
  display: flex;
  align-items: center;
  .downIcon {
    width: 25px;
    margin-right: 10px;
  }
  .downName {
    color: white;
    width: 165px;
    .nameDownSpan {
      margin-left: 5px;
      color: #5c5c5c;
      font-size: 0.6em;
    }
  }
  .downPrice {
    color: white;
    width: 100px;
    font-size: 0.9em;
  }
}


.activeMarket {
  display: block;
}
.inactiveMarket {
  display: none;
}


.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  button {
    margin: 0 5px;
    border: unset;
    padding: 10px 15px;
    border-radius: 4px;
    color: #1d1d1d;
    background-color: #FFDF00;
  }
}