
.marketBody {
  height: 880px;
}
.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

.rankPriceGreen {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #20ad27;
  padding: 7px 15px;
  border-radius: 4px;
}
.rankPriceRed {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #ce2626;
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
}
.topPriceGreen {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #20ad27;
  padding: 7px 18px 7px 10px;
  border-radius: 4px;
}
.downPriceRed {
  width: 35px;
  font-size: 0.8em;
  color: #fff;
  background-color: #ce2626;
  padding: 7px 25px 7px 10px;
  border-radius: 4px;
}

.linkMarket {
  text-decoration: none;
}

.containerRanking {
  flex-direction: column;
  margin-bottom: 100px;
}
.containerTopChange {
  flex-direction: column;
}
.containerDownChange {
  flex-direction: column;
}
.nameRankGroup {
  display: flex;
  align-items: center;
  width: 140px;
}
.priceRankMarketGroup {
  display: flex;
}


.rankingCard {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 5.5px 10px;
  background-color: #212121;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
  padding: 2px 10px;
  .rankIcon {
    width: 25px;
    margin-right: 10px;
  }
  .rankNumber {
    font-size: 0.8em;
    text-align: start;
    margin-right: 10px;
    color: #5c5c5c;
  }
  .rankName {
    color: white;
    width: 135px;
    font-size: 1em;
  }
  .rankPrice {
    text-align: start;
    width: 130px;
    color: white;
  }
}



.topCard {
  display: flex;
  align-items: center;
  margin: 5.5px 10px;
  background-color: #212121;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
  padding: 2px 10px;
  .topIcon {
    width: 25px;
    margin-right: 10px;
  }
  .topName {
    color: white;
    width: 135px;
    .nameTopSpan {
      margin-left: 5px;
      color: #5c5c5c;
      font-size: 0.6em;
    }
  }
  .topPrice {
    color: white;
    width: 100px;
    font-size: 0.9em;
  }
}


.downCard {
  display: flex;
  align-items: center;
  margin: 5.5px 10px;
  background-color: #212121;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
  padding: 2px 10px;
  .downIcon {
    width: 25px;
    margin-right: 10px;
  }
  .downName {
    color: white;
    width: 135px;
    .nameDownSpan {
      margin-left: 5px;
      color: #5c5c5c;
      font-size: 0.6em;
    }
  }
  .downPrice {
    color: white;
    width: 100px;
    font-size: 0.9em;
  }
}


.activeMarket {
  display: flex;
}
.inactiveMarket {
  display: none;
}


.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  button {
    margin: 0 5px;
    border: unset;
    padding: 10px 15px;
    border-radius: 4px;
    color: #1d1d1d;
    background-color: #FFDF00;
    font-size: 0.8em;
  }
}


@media only screen and (min-width: 1100px) {
  .priceDes {
      transition: 0.3s ease-in-out;
      display: block;
      color: #5c5c5c;
      font-size: 0.8em;
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: 5px;
  }
  .containerRanking {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .rankingCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px;
    padding: 10px;
    &:hover {
      background-color: #4d4d4d;
      transform: scale(1.02);
      .priceDes {
        color: #1d1d1d;
      }
    }
    .rankPriceGreen {
      padding: 7px 10px;
      padding-right: 15px;
    }
    .rankPriceRed {
      padding: 7px 10px;
      padding-right: 25px;
    }
    .nameRankGroup {
      display: flex;
      align-items: center;
      margin-left: -190px;
      height: 30px;
      padding-top: 25px;
    }
    .priceRankMarketGroup {
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
      }
    }
  }
}

